p {
    font-size: 10px; /* comment space */
    font-family: Open Sans;
}

.second-paragraph {
    font-size: 30px;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
    margin: 0 auto;
    display: block;
}
